header h1, footer h5, #answer, #share {
    text-align: center;
}

footer h5 {
    font-weight: normal;
}

header h1, #answer-row {
    margin: 40px 0px 40px 0px;
}

#answer, #share {
    width: 100%;
}

#share { 
    line-height: 30px; 
    font-size: 14px;
}

#days.short { color: green; }
#days.medium { color: orange; }
#days.long { color: red; }

.error {
    text-shadow: 2px 2px #ff0000;
}

.detail {
    display: none;
    font-size: 14px; 
    line-height: 20px;
    color: #585858;
}

input {
    width: 100px;
}

.secondary-calc {
    font-style: italic;
    font-weight: bold;
}

.question {
    font-size: 24.5px;
    line-height: 60px;
}

.follow iframe {

}